main {
  position: relative;
}

h1 {
  padding: 0.5rem;
  margin: 2rem;
  text-align: center;
  background-color: rgb(146, 156, 200);
  border-radius: 10px;
}

.structure {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

@media screen and (min-width: 750px) {
  .structure {
    flex-direction: row;
    justify-content: space-around;
  }
  .section {
    height: 100vh;
    overflow: auto;
  }
  .hide {
    display: none;
  }
}

.section {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.buttons {
  position: fixed;
  bottom: 10px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
}

.button {
  margin: 0.5rem;
  font-size: 0.8rem;
}
