<main>
    <h1>Kitten Adoption Center</h1>
    <div class="container structure">
        <div class="section" id="section1">
            <h2>all Kittens</h2>
            <app-list-kitten></app-list-kitten>

        </div>
        <div class="section" id="section2">
            <h2>my Kittens</h2>
            <app-user-kitten></app-user-kitten>
        </div>
        <div class="buttons">
            <button type="button" class="btn btn-primary button hide" (click)="scrollToSection('section2')">my
                Kittens</button>
            <button type="button" class="btn btn-primary button" (click)="openCatForm()">Add Kitten</button>
            <button type="button" class="btn btn-primary button hide" (click)="scrollToSection('section1')">all
                Kittens</button>
        </div>
    </div>
</main>